@import "reset";
@import "colours";

.weather-clock {
  width: 100%;
  height: 100%;
  background-color: $black;
  font-size: 48px;

  canvas,
  &_info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  canvas {
    display: block;
  }

  &_info {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div:not(:first-child) {
      padding-top: 2px;
    }

    div:not(:last-child), {
      padding-bottom: 2px;
    }

    &_date,
    &_timezone {
      font-size: 0.2em;
    }

    &_weather {
      font-size: 0.25em;
      color: $amber-700;
    }
  }
}
