@import "reset";
@import "colours";

.weather-clock {
  width: 100%;
  height: 100%;
  background-color: $black;
  font-size: 48px;

  canvas,
  &_info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  canvas {
    display: block;
  }

  &_info {
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    &_date,
    &_timezone,
    &_weather_temperature-min-max {
      font-size: 0.2em;
    }

    &_weather {
      color: $amber-700;

      &_temperature-current {
        font-size: 0.5em;
      }
    }
  }
}
